<footer data-ui-component="footer">
      <div class="block" style="overflow:inherit">
        <div class="logo-wrapper">
          <img src="./img/logo.png" title="HealthBerry" alt="HealthBerry">
        </div>
        <nav>
          <ul>
            <li><a href="https://twitter.com/yuanshitou" target="about_blank">Twitter</a></li>
            <li><a href="mailto:contact@yuanshitou.com">contact[at]yuanshitou.com</a></li>
          </ul>
        </nav>

        <small>
          © 2014 Pierre Cangemi.<br>
        </small>
      </div>
    </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		<script>
		  $(function() {
		    $(".rslides").responsiveSlides();
		  });
        	$('button#reg').click(function(){
        		window.location.href = "/register";
        	});
		</script>