<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        <title>袁石头 － <%= title %></title>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
	    <meta name="format-detection" content="telephone=no">
    	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>