<% include header %>
<body>
<header class="block" data-ui-component="header">
      		<h1><span>袁石头</span></h1>
      		<a href="/signin" data-ui-component="signin-link">
        		<button class="button -subtle">登录</button>
        	</a>
        	<a href="/register" data-ui-component="registration-link">
        		<button class="button -flat">注册</button>
      		</a>
    	</header>
		<ul class="rslides" data-ui-component="demo">
		  <li><img src="img/1.jpg" alt=""></li>
		  <li><img src="img/2.jpg" alt=""></li>
		  <li><img src="img/3.jpg" alt=""></li>
		</ul>
		<section class="block" data-ui-component="hero">
	      <h2 class="huge">真诚代购，假一赔十</h2>
	      <h3>
	       	本人目前在法国工作，业余时间经营法国化妆品，香水，箱包各类产品代购。只要对的不要贵的！保证货真价实，希望大家购物愉快。

	        <!-- <a href="/register"></a>-->
	      </h3>

	      <a href="#">
	        <button id="reg" class="button -big -flat">欢迎注册</button>
	      </a>

	      
	    </section>
<% include footer %>