* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	vertical-align: baseline;
	background: 0 0;
}

html {
	font-size: 16px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	color: #828c97;
}

ul, li {
list-style-type: none;
}

[data-ui-component="footer"] li:first-child {
margin-left: 0;
}

[data-ui-component="footer"] li {
display: inline;
margin-left: 1.5625em;
}

data-ui-component="footer"] a {
font-size: 1.125em;
text-decoration: none;
color: #797f82;
}
.block {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 71.25em;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

[data-ui-component="header"] {
	padding-top: 1.875em;
	padding-bottom: 1.875em;
	position: relative;
	text-align: right;
}

[data-ui-component="header"] h1 {
position: absolute;
top: 1.375em;
left: 0;
min-width: 13.375em;
min-height: 3.1875em;
font-size: 1em;
background: url("../img/logo.svg") 0 0 no-repeat;
background-size: contain;
}

[data-ui-component="header"] a {
text-decoration: none;
}

[data-ui-component="header"] a button {
	margin-left: .55556em;
}

[data-ui-component="hero"], [data-ui-component="demo"], [data-ui-component="features-intro"], [data-ui-component="social-proof"] {
text-align: center;
}

[data-ui-component="demo"] {
padding: 2.5em 0;
background-color: #eff1f4;
}

[data-ui-component="hero"] {
padding-top: 5.6875em;
padding-bottom: 6.25em;
}

.registration-header {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
width: 58.75em;
max-width: 100%;
margin: 0 auto;
padding: .8125em 2.5em 1.375em;
margin-bottom: 5em;
}

.register-html, .register-body {
height: auto;
overflow: visible;
background-color: #fff;
}

h2.huge {
font-size: 3.75em;
line-height: 1.2em;
}
h2 {
font-size: 2.5em;
font-weight: 700;
color: #273241;
}
h2, h3, blockquote {
line-height: 1.3em;
}
[data-ui-component="hero"] h3 {
margin-bottom: 1.35em;
}
h2+h3 {
margin-top: .65em;
}
h3 {
font-size: 1.875em;
font-weight: 400;
color: #828c97;
}

[data-ui-component="footer"] a:hover {
text-decoration: underline;
}
[data-ui-component="footer"] a {
font-size: 1.125em;
text-decoration: none;
color: #797f82;
}

[data-ui-component="footer"] {
padding: 2.5em 0 6.25em;
text-align: right;
background-color: #eff1f4;
}

[data-ui-component="footer"] .logo-wrapper {
position: absolute;
top: -.7em;
left: 0;
min-width: 10.0625em;
min-height: 9.375em;
background: url("../img/logo.svg") 0 0 no-repeat;
background-size: contain;
}

[data-ui-component="footer"] small {
display: block;
margin-top: 1.25em;
font-size: 1em;
color: #9da0a5;
}

[data-ui-component="footer"] img {
display: none;
width: 10.0625em;
}

[data-ui-component="footer"] nav {
line-height: .9em;
}

[data-ui-component="hero"] h3 a:hover, [data-ui-component="hero"] h3 a:visited, [data-ui-component="hero"] h3 a:focus {
color: #3996d2;
}
[data-ui-component="hero"] h3 a {
display: block;
margin-top: 1.66667em;
font-size: .8em;
text-decoration: none;
}

[data-ui-component="header"] h1:after {
position: absolute;
top: 1.66em;
right: -0.5em;
content: "公测";
display: inline-block;
padding: 0 4px;
border: 1px solid #d0d0d0;
border-radius: 3px;
font-size: .75em;
line-height: 1.5em;
font-weight: 300;
text-transform: uppercase;
color: #8a9296;
background-color: #fdfdfd;
}

.button {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 2.22222em;
padding: 0 .83333em;
border-radius: 3px;
vertical-align: baseline;
font-size: 1.125em;
line-height: 2.22222em;
font-weight: 700;
cursor: pointer;
-webkit-transition: background-color,.15s;
-moz-transition: background-color,.15s;
transition: background-color,.15s;
}

[data-ui-component="header"] h1 span {
display: block;
text-indent: -9999px;
direction: rtl;
}

.button.-subtle {
border: 1px solid #d0d0d0;
color: #717679;
background-color: #fdfdfd;
-webkit-transition: border-color .15;
-moz-transition: border-color .15;
transition: border-color .15;
}

.button.-flat {
border: 1px solid #1cb88e;
color: #fff;
background-color: #1cb88e;
}

[data-ui-component="demo"] .block {
width: 50em;
}

.video-container {
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}

@media (max-width: 1140px){

	[data-ui-component="header"] h1 {
		left: 2.5em;
	}

	.block {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	[data-ui-component="header"] h1 {
left: 2.5em;
}
}

@media (max-width: 1000px){
	[data-ui-component="demo"] {
		display: none;
	}
}

@media (max-width: 550px){
	[data-ui-component="header"] [data-ui-component="signin-link"] button, [data-ui-component="header"] [data-ui-component="signin-link"] button:hover {
	padding: 0;
	height: auto;
	border: 0;
	font-size: .875em;
	line-height: 1.3em;
	font-weight: 400;
	color: #3996d2;
	background-color: transparent;
	}
	[data-ui-component="header"] [data-ui-component="registration-link"] {
	display: none;
	}
	[data-ui-component="header"] h1 {
	top: 1.4625em;
	left: 1.25em;
	min-width: 8.125em;
	min-height: 1.875em;
	}
	[data-ui-component="header"] h1:after {
	padding: 0 .4em;
	top: 1.1em;
	right: 0;
	font-size: .625em;
	}
	data-ui-component="hero"] {
font-size: .65em;
padding-bottom: 6.25em;
}
	.block {
padding-left: 1.25em;
padding-right: 1.25em;
}

}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

header, footer, section {
display: block;
}

.register-body .login-link-button {
position: absolute;
top: 1.28125em;
right: 2.5em;
}
.register-body .login-link-button, .register-body .provider-lookup-button {
border: 1px solid #d0d0d0;
color: #717679;
background-color: #fdfdfd;
-webkit-transition: border-color .15s,background-color .15s;
-moz-transition: border-color .15s,background-color .15s;
transition: border-color .15s,background-color .15s;
}
.register-body .login-link-button, .register-body .provider-lookup-button, .register-body .register-button {
height: 2.75em;
padding: 0 .9375em;
border-radius: 3px;
font-size: 1em;
font-weight: 700;
white-space: nowrap;
cursor: pointer;
}

.register-body .logo
{
	display: block;
}
.register-body .logo {
background-image: url('../img/logo.svg');
background-repeat: no-repeat;
min-width: 11.875em;
min-height: 3.125em;
}

.register-body .registration-header:after {
position: absolute;
top: 100%;
right: 0;
left: 0;
content: "";
display: block;
height: .0625em;
background-color: #e1e1e1;
background: -webkit-linear-gradient(-360deg,#fff 0%,#e1e1e1 10%,#e1e1e1 90%,#fff 100%)left;
background: linear-gradient(90deg,#fff 0%,#e1e1e1 10%,#e1e1e1 90%,#fff 100%)left;
}

.ng-hide {
	display: none !important;
}

.register-body .registration-body, .register-body .registration-success {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 28.75em;
max-width: 100%;
margin: 0 auto 5em;
}

.register-body h2 {
margin-bottom: .25em;
font-size: 2.5em;
line-height: 1em;
text-align: center;
color: #273241;
}

h1, h2, h3, h4 {
font-size: inherit;
}

.register-body h3 {
margin-bottom: 2.08333em;
font-size: 1.5em;
font-weight: 500;
line-height: 1.2em;
text-align: center;
color: #afafaf;
}

.register-body .simple-label {
display: block;
margin-bottom: 1.875em;
}

.register-body .simple-label .label {
font-size: 1.125em;
}

.register-body .simple-label input[type="text"], .register-body .simple-label input[type="email"], .register-body .simple-label input[type="password"] {
height: 44px;
padding: 0 .9375em;
font-size: 1em;
}
.register-body .simple-label input[type="text"], .register-body .simple-label input[type="email"], .register-body .simple-label input[type="password"] {
border: 1px solid #d9d9d9;
border-radius: 3px;
font-family: inherit;
color: #585f63;
background-color: #fff;
-webkit-appearance: none;
-webkit-transition: border-color,.15s;
-moz-transition: border-color,.15s;
transition: border-color,.15s;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.register-body .simple-label input[type="text"], .register-body .simple-label input[type="email"], .register-body .simple-label input[type="password"], .register-body .simple-label select, .register-body .simple-label .fakeselect {
width: 100%;
margin-top: .625em;
}
.register-body .simple-label input[type="text"], .register-body .simple-label input[type="email"], .register-body .simple-label input[type="password"] {
height: 44px;
padding: 0 .9375em;
font-size: 1em;
}
.register-body .simple-label input[type="text"], .register-body .simple-label input[type="email"], .register-body .simple-label input[type="password"] {
border: 1px solid #d9d9d9;
border-radius: 3px;
font-family: inherit;
color: #585f63;
background-color: #fff;
-webkit-appearance: none;
-webkit-transition: border-color,.15s;
-moz-transition: border-color,.15s;
transition: border-color,.15s;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.register-body .register-button {
background-color: #1cb88e;
-webkit-transition: background-color .15s;
-moz-transition: background-color .15s;
transition: background-color .15s;
color: #fff;
width: 100%;
}
.register-body .login-link-button, .register-body .provider-lookup-button, .register-body .register-button {
height: 2.75em;
padding: 0 .9375em;
border-radius: 3px;
font-size: 1em;
font-weight: 700;
white-space: nowrap;
cursor: pointer;
}

body.login-body {
width: 100%;
font-size: 16px;
font-family: "Source Sans Pro";
color: #585f63;
background-color: #f7f7f7;
}

.login-html, .login-body {
height: auto;
overflow: visible;
}

.login-body .login-box {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
width: 30em;
padding: 3.125em;
margin: 0 auto 2.5em;
border: 1px solid #d9d9d9;
border-radius: 3px;
text-align: left;
background-color: #fff;
}
.login-body .login-message {
position: absolute;
right: 0;
bottom: 100%;
left: 0;
margin-bottom: 1.875em;
padding: 0 3.125em;
line-height: 1.3em;
text-align: center;
color: #1cb88e;
}
.login-body a:visited {
color: #3469db;
}
.login-body .logo {
display: block;
margin-bottom: 2.5em;
background-position: center center;
}
.login-body .logo {
background-image: url('../img/logo.svg');
background-repeat: no-repeat;
min-width: 11.875em;
min-height: 3.125em;
}
.login-body a {
font-size: 1.125em;
}
.login-body a {
color: #3498db;
cursor: pointer;
text-decoration: none;
}
.login-body .login-button, .login-body .new-password-button {
background-color: #1cb88e;
-webkit-transition: background-color .15s;
-moz-transition: background-color .15s;
transition: background-color .15s;
color: #fff;
width: 100%;
}
.login-body .login-button, .login-body .new-password-button, .login-body .request-reset-button {
height: 2.75em;
padding: 0 .9375em;
border-radius: 3px;
font-size: 1em;
font-weight: 700;
white-space: nowrap;
cursor: pointer;
}
.login-body label .label {
font-size: 1.125em;
}
.login-body label input[type="text"], .login-body label input[type="email"], .login-body label input[type="password"], .login-body label select, .login-body label .fakeselect {
width: 100%;
margin-top: .625em;
}
.login-body label input[type="text"], .login-body label input[type="email"], .login-body label input[type="password"] {
height: 44px;
padding: 0 .9375em;
font-size: 1em;
}
.login-body label input[type="text"], .login-body label input[type="email"], .login-body label input[type="password"] {
border: 1px solid #d9d9d9;
border-radius: 3px;
font-family: inherit;
color: #585f63;
background-color: #fff;
-webkit-appearance: none;
-webkit-transition: border-color,.15s;
-moz-transition: border-color,.15s;
transition: border-color,.15s;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.login-body label {
display: block;
margin-bottom: 1.875em;
}

.login-body .help-links {
margin-top: 1.875em;
}

.login-body a:visited {
color: #3469db;
}
.login-body a {
font-size: 1.125em;
}
.login-body a {
color: #3498db;
cursor: pointer;
text-decoration: none;
}

.login-body a:first-child+a {
float: right;
}