<% include ../header %>
<body class="register-body">
<header role="banner" class="registration-header">
	<a href="/">
		<span class="logo" alt="HealthBerry"></span>
	</a>
	<button role="link" class="login-link-button">登录</button>
</header>
<section class="registration-success ng-hide">
	<h2>All done!</h2>
	<h3>We've sent a confirmation email on <span class="ng-binding"></span>, follow the link in the message to complete your registration</h3>
</section>
<section class="registration-body">
	<h2>注册</h2>
	<h3>快速申请账号</h3>
	<form name="registration_form" class="ng-pristine ng-invalid ng-invalid-required" method="POST">
		<label class="simple-label">
			<span class="label">姓名</span>
			<input type="text" id="fullname" name="full_name" placeholder="袁石头" required="required">
		</label>
		<label class="simple-label email-label" >
			<span class="label">电子邮件</span> 
			<input type="email" id="email" name="email" placeholder="xxxx@xxxx.xx" required="required">
		</label>

		<label class="simple-label">
			<span class="label">选择密码</span>
			<input type="password" id="password" name="password" placeholder="至少8个字符" required="required">
		</label>
		<label class="simple-label">
			<span class="label">确认密码</span>
			<input type="password" id="rpassword" name="password_confirmation" placeholder="至少8个字符" required="required">
		</label>

		<button type="submit" class="register-button">
			<span>注册我的帐号</span> 
		</button>
	</form>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
	$('button.login-link-button').click(function(){
		window.location.href = "/signin";
	});
	
	 $("form").submit(function (e) {
	   e.preventDefault();
	   console.log("test");
	   var request = $.ajax({
           
            url: "/register",
            type: "POST",
            contentType: 'application/json',
            processData: false,
            data: JSON.stringify({
                fullname:$('#fullname').val(),
                email: $('#email').val(),
                password: $('#password').val(),
                repassword: $('#rpassword').val()
            }),
            /* contentType: "application/json", //This is what made the difference. */
            dataType: "json",

        });


        request.success(function(result) {

            alert(result);

        });

        request.fail(function(jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
        
        
	});
</script>
</body>
</html>