<% include ../header %>
<body class="login-body">
	<section class="login-box" style="top: 25.875px;">
		<a href="/" class="logo"></a>
		<div>
			<form name="login_form" action="/signin" method="POST">
				<label>
					<span class="label">电子邮件</span>
					<input type="email" name="email" placeholder="xxx@xxx.xx" required="">
				</label>
				<label>
					<span class="label">密码</span>
					<input type="password" name="password" placeholder="你的密码" required="">
				</label>
				<button type="submit" class="login-button">Submit</button>

				<div class="help-links">
					<a href="/register">Register account</a> 
					<a href="#/login/forgot-password">
						<span class="desktop-phrase">I don't know my password</span>
					</a>
				</div>
			</form>
			<div id="forgot-password"></div>
		</div>
	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>
	    
	</script>
</body>
</html>